.search-bar__container {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    display: block;
}

.search-bar__input-field {
    border: none;
    border-bottom: 1px solid #333;
    width: 300px;
    text-align: center;
    height: 25px;
    font-size: 15px;
}

.search-bar__input-field:focus::-webkit-input-placeholder { color: transparent; }
.search-bar__input-field:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
.search-bar__input-field:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
.search-bar__input-field:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
